/* ==========================================================================
							M A I N  ___  S T Y L E S
   ========================================================================== */

html, body {
	height: 100%;
}
html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

a,
a:focus,
a:active {
	outline: none;
}

ol, ul {
    list-style: none;
}

/* Helper classes  */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* Main Blocks
 -------------------------------------------------------------------------------- */
#wrapper {
	height: auto !important;
    min-height: 100%;
    background: url(../images/main_bg.jpg) 0 bottom repeat;
    cursor: pointer;
    position: relative;
}
.inner {
	width: 980px;
	margin: 0 auto;
}
#middle {
	overflow: hidden;
	padding: 50px 0;
    text-align: center;
}

#hero {
    display: inline-block;
    width: 100px;
    height: 90px;
    background: url(../images/superman.png) 0 0 no-repeat;
    position: absolute;
    /*top: 49%;*/
    bottom: 137px;
    left: 25%;
    z-index: 100;
    cursor: pointer;
}

.mushroom {
    display: block;
    width: 70px;
    height: 70px;
    background: url(../images/mushroom-70.png) 0 0 no-repeat;
    position: absolute;
    bottom: 137px;
    right: 0;
    /*left: 95%;*/
}

.coins {
    display: block;
    width: 70px;
    height: 96px;
    background: url(../images/cake1.png) 0 0 no-repeat;
    position: absolute;
    bottom: 266px;
    right: 0;
    /*left: 95%;*/
}

#points_counter {
    border: 3px solid;
    color: #000;
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    position: absolute;
    top: 50px;
    left: 8%;
}

/* win/lose */
#restart-btn  {
    width: 100px;
    height: 100px;
    display: inline-block;
    position: absolute;
    top: 30px;
    right: 30px;
    text-indent:-9999px;
    background: url(../images/reset.png) 0 0 no-repeat;    
}
.win,
.lose {
    position: relative;
    z-index: 1000;
    margin: 0 auto 50px;
    padding: 0;
    transition: padding 0.35s linear;
}
.win.active {
    background: url(../images/win.jpg) 0 0 no-repeat;
    width: 400px;
    padding: 162px 0;
}
.lose.active {
    background: url(../images/over.jpg) 0 0 no-repeat;
    width: 290px;
    padding: 132px 0;
}
